*{
    padding: 0;
    margin: 0;
    /* background-color: antiquewhite; */
}
.content{
    border-radius: 20px;
}
#name{
    background-color: rgb(36, 33, 84);
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
margin-bottom: 20px; 


}
.na{
    font-weight: 700;
    color: whitesmoke;
    
}
h4{
    color: aliceblue;
    font-weight: 100;
}
.about{
    background-color: rgba(164, 149, 149, 0.194);
    
    width: 80%; */
    margin: 20px;
    padding: 30px;
    height: 100px;
    margin: 0 auto;  
    text-align: center; /* centers content inside div */
    margin-bottom: 20px; 
    border-radius: 10px;

}
p{
    font-weight: 100;
    font-size: medium;
   
}
.education{
    background-color:rgb(181, 226, 244);
    width: 80%; 
    margin: 20px;
    padding: 30px;
    height: 100px;
    margin: 0 auto;  
    text-align: center; /* centers content inside div */
    border-radius: 10px;

    margin-bottom: 20px; 
}
.study{
    background-color: aliceblue;
    padding: 3px;
    width: 420px;
    height: 20px;
    margin: 0 auto;  
    text-align: center;
    margin-bottom: 10px; 
    border-radius: 8px;

}
.skill{
    border-radius: 10px;
   
    background-color: rgb(247, 236, 193);
    width: 80%; 
    margin: 20px;
    padding: 30px;
    height: 180px;
    margin: 0 auto;  
    text-align: center; /* centers content inside div */
    margin-bottom: 20px; 
}
.sk{
    color: rgb(0, 0, 0);
      background-color: aliceblue;
    padding: 3px;
    width: 420px;
    height: 20px;
    margin: 0 auto;  
    text-align: center;
    margin-bottom: 15px; 
    border-radius: 8px;
  
}
.project{
    border-radius: 10px;

    background-color: rgb(236, 216, 254);
    width: 80%; 
    margin: 20px;
    padding: 30px;
    height: 180px;
    margin: 0 auto;  
    text-align: center; 
    margin-bottom: 20px; 
}
.pro{
     color: rgb(0, 0, 0);
      background-color: aliceblue;
    padding: 3px;
    width: 420px;
    height: 20px;
    margin: 0 auto;  
    text-align: center;
    margin-bottom: 15px; 
    border-radius: 8px;
  
}
.contact{
    border-radius: 10px;

    background-color: #baead4;
    width: 80%; 
    margin: 20px;
    padding: 30px;
    height: 180px;
    margin: 0 auto;  
    text-align: center; 
    margin-bottom: 20px; 
}
.box{
       color: rgb(0, 0, 0);
      background-color: aliceblue;
    padding: 3px;
    width: 420px;
    height: 20px;
    margin: 0 auto;  
    text-align: center;
    margin-bottom: 15px; 
    border-radius: 8px; 
}
footer{
    background-color: rgb(36, 33, 84);
color: aliceblue;
padding: 20px;
height: 30px;
    margin: 0 auto;  
    text-align: center;

}